# ─── API URL ─────────────────────────────────────────────────────────────────
NEXT_PUBLIC_API_URL=https://red-talento-production.up.railway.app/api

# ─── App ─────────────────────────────────────────────────────────────────────
NEXT_PUBLIC_APP_NAME=Red Talento TP
NEXT_PUBLIC_APP_URL=http://localhost:3000
